<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Type name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastname">Type lastname</label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <br>
    <label for="age">Type age</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="gender">Choose your gender</label>
    <input type="text" th:field="*{gender}" id="gender">
    <input type="submit" value="Update User in DB">
</form>

</body>
</html>