<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:text="${user.getName()}">VALUE</div>
<div th:text="${user.getSurname()}">VALUE</div>
<div th:text="${user.getAge()}">VALUE</div>
<div th:each="role : ${user.getRoles()}">
    <p th:text="${role.getRole()}"></p>
</div>
<br>
<form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit User">
</form>
<br>
<hr>
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete User">
</form>

<a th:href="@{/logout}">Exit</a>

</body>
</html>